@{
    IEnumerable<Project.Models.Student> Students = ViewData["Students"] as IEnumerable<Project.Models.Student>;
    IEnumerable<Project.Models.Doctor> Doctors = ViewData["Doctors"] as IEnumerable<Project.Models.Doctor>;
    IEnumerable<Project.Models.Employee> Employees = ViewData["Employees"] as IEnumerable<Project.Models.Employee>;
    IEnumerable<Project.Models.Department> Departments = ViewData["Departments"] as IEnumerable<Project.Models.Department>;
    IEnumerable<Project.Models.Level> Levels = ViewData["Levels"] as IEnumerable<Project.Models.Level>;
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Dean/Index.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <!--Add Student, Employee and Doctors buttons-->
    <div class="my-5 text-center">
        <button id="student" class="btn btn-primary">Add Sudent</button>
        <button id="professor" class="btn btn-primary">Add Professor</button>
        <button id="employee" class="btn btn-primary">Add Employee</button>
    </div>

    <!--Form of adding new doctor-->
    <form action="~/Dean/AddDoctor" method="post">
        <div class="container py-3" id="Professor-form">
            <h2 class="text-center">Professor</h2>
            <div id="alertContainer" class="alert alert-danger"></div>
            <!--Role-->
            <input type="hidden" name="User.RoleID" value="2" />
            @Html.Partial("_AddUser")
            <!--Choose Department-->
            <div class="form-group">
                <label>Department :</label>
                <select name="DepID" class="form-control">
                    <option value="" disabled selected>-- Choose Department --</option>
                    @foreach (var department in Departments)
                    {
                        <option value="@department.DepartmentID">@department.Title</option>
                    }
                </select>
            </div>
            <!--Salary-->
            <div class="form-group">
                <label>Salary :</label>
                <input name="Salary" class="form-control" type="number" />
            </div>
            <button type="submit" class="btn btn-outline-primary btn-block">Add</button>
            <div class="clearfix"></div>
        </div>
    </form>

    <!--Form of adding new employee-->
    <form action="~/Dean/AddEmployee" method="post">
        <div class="container py-3" id="Employee-form">
            <h2 class="text-center">Employee</h2>
            <div id="alertContainer" class="alert alert-danger"></div>
            <!--Role-->
            <input type="hidden" name="User.RoleID" value="4" />
            @Html.Partial("_AddUser")
            <!--Choose Department-->
            <div class="form-group">
                <label>Department :</label>
                <select name="DepID" class="form-control">
                    <option value="" disabled selected>-- Choose Department --</option>
                    @foreach (var department in Departments)
                    {
                        <option value="@department.DepartmentID">@department.Title</option>
                    }
                </select>
            </div>
            <!--Salary-->
            <div class="form-group">
                <label>Salary :</label>
                <input name="Salary" class="form-control" type="number" />
            </div>
            <button type="submit" class="btn btn-outline-primary btn-block">Add</button>
            <div class="clearfix"></div>
        </div>
    </form>

    <!--Form of adding new student-->
    <form action="~/Dean/AddStudent" method="post">
        <div class="container py-3" id="Student-form">
            <h2 class="text-center">Student</h2>
            <div id="alertContainer" class="alert alert-danger"></div>
            <!--Role-->
            <input type="hidden" name="User.RoleID" value="3" />
            @Html.Partial("_AddUser")
            <!--Level-->
            <div class="form-group">
                <label>Level :</label>
                <select name="Lvl" class="form-control">
                    <option value="" disabled selected>-- Choose Level --</option>
                    @foreach (var level in Levels)
                    {
                        <option value="@level.level">@level.level</option>
                    }
                </select>
            </div>
            <!--Choose Major Department-->
            <div class="form-group">
                <label>Major Department :</label>
                <select name="MajorDepID" class="form-control">
                    <option value="" disabled selected>-- Choose Major Department --</option>
                    @foreach (var department in Departments)
                    {
                        <option value="@department.DepartmentID">@department.Title</option>
                    }
                </select>
            </div>
            <!--Choose Minor Department-->
            <div class="form-group">
                <label>Minor Department :</label>
                <select name="MinorDepID" class="form-control">
                    <option value="" disabled selected>-- Choose Minor Department --</option>
                    @foreach (var department in Departments)
                    {
                        <option value="@department.DepartmentID">@department.Title</option>
                    }
                </select>
            </div>
            <!--Payments Status-->
            <div class="form-group">
                <label>Payments Status :</label>
                <select name="PaymentStatus" class="form-control">
                    <option value="" disabled selected>-- Choose Payment Status --</option>
                    <option value="true">Paid</option>
                    <option value="false">Unpaid</option>
                </select>
            </div>
            <button type="submit" class="btn btn-outline-primary btn-block">Add</button>
            <div class="clearfix"></div>
        </div>
    </form>

    <!--Choose list of student, employee and doctor-->
    <ul class="nav nav-pills mb-3 my-5" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Professor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Student</a>
        </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
        <!-- View Doctors -->
        <div class="tab-pane fade show active text-center my-5" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row">
                @foreach (var doctor in Doctors)
                {
                    <div class="col-md-4 text-center">
                        <div>
                            <img src="~/Database/Images/Default.png" class="img-fluid rounded-circle w-50">
                            <h3 class="my-3">@doctor.User.FullName</h3>
                            <h3 class="my-3">@doctor.Department.Title</h3>
                            <a href="@Url.Action("DeleteDoctor")/@doctor.DoctorID" class="btn btn-danger mr-2">delete</a>
                            <a href="@Url.Action("EditDoctor")/@doctor.DoctorID" class="btn btn-info">view</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- View Employees -->
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row text-center">
                @foreach (var employee in Employees)
                {
                    <div class="col-md-4">
                        <div>
                            <img src="~/Database/Images/Default.png" class="img-fluid rounded-circle w-50">
                            <h3 class="my-3">@employee.User.FullName</h3>
                            <h3 class="my-3">@employee.Department.Title</h3>
                            <a href="@Url.Action("DeleteEmployee")/@employee.EmployeeID" class="btn btn-danger mr-2">delete</a>
                            <a href="@Url.Action("ViewEmployee")/@employee.EmployeeID" class="btn btn-info">view</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- View students -->
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="row">
                @foreach (var student in Students)
                {
                    <div class="col-md-4 text-center">
                        <div>
                            <img src="~/Database/Images/Default.png" class="img-fluid rounded-circle w-50">
                            <h3 class="my-3">@student.User.FullName</h3>
                            <h3 class="my-3">@student.StudentMajorDepartment.Title</h3>
                            <a href="@Url.Action("DeleteStudent")/@student.StudentID" class="btn btn-danger mr-2">delete</a>
                            <a href="@Url.Action("ViewStudent")/@student.StudentID" class="btn btn-info">view</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row" id="rowData"></div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Dean/Index.js"></script>
</body>
</html>
